<form 
    [formGroup]="fg"
    (ngSubmit)="save(fg.controls['name'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Name</label>
        <input type="text" class="form-control" id="nombre" placeholder="Enter name..." 
        [formControl]="fg.controls['name']">
    </div>
    <div class="form-group">
        <label for="Imagen Url">Url Image</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Enter url..."
        [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary">Save!</button>
</form>