<div class="card-content" [@isFavorite]="destiny.isSelected() ? 'favoriteState' : 'noFavoriteState'">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
            <h4>{{position}}</h4>
        </span>
  </div>
  <div class="card-desc">
    <h3>{{destiny.name}}</h3>
    <p>Services</p>
    <ul>
      <li *ngFor="let s of destiny.services">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'breakfast'" style="color:red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
      <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
      {{destiny.votes}}
    </div>
    <a href="#" class="btn-card" (click)="go()">Go!</a>
    <span *ngIf="destiny.isSelected()">
             <span ngNonBindable>- FAVORITE -</span>
        </span>
    <a [routerLink]="['/destiny', destiny.id]">See Detail</a>
  </div>
</div> 
