<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Wishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destiny-travel (onItemAdded)="added($event)"></app-form-destiny-travel>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <app-destiny-travel 
        *ngFor="let d of destinationsAPIClient.getAll(); let i=index" 
        [destiny]="d"
        [idx]="i + 1"
        (onClicked)="selected(d)">
        </app-destiny-travel>
    </div>
</div>